<!DOCTYPE html>
<html>
<head>

	<title>Photography</title>
	<link rel="stylesheet" type="text/css" href="css/menu.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:200,400,700&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/331d8a7658.js"></script>
</head>
<body>
	<ul class="menu" role="navigation">
		<li class="header"><a href="/">Photography</a></li>
		<li class="menu-container">
			<ul >
				<li class="menu-item"><a href="#portfo">portfolio</a></li>
				<li class="menu-item"><a href="#about">about</a></li>
				<li class="menu-item"><a href="/"><i class="fas fa-shopping-cart"></i></a></li>
			</ul>
		</li>
	</ul>


