<!DOCTYPE html>
<html>
<head>

	<title>Photography</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="css/menu.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:200,400,700&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/331d8a7658.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" />
</head>
<body>
	<ul class="menu" role="navigation">
		<li class="header"><a href="#landing" class="header-title">Photography</a></li>
		<li class="menu-container">
			<ul >
				<li id="bars"><i class="fas fa-bars ham"></i>
					<ul class="mobile-menu">
						<li class="mobile-item"><a href="#portfo">portfolio</a></li>
						<li class="mobile-item"><a href="#about">about</a></li>
						<li class="mobile-item"><a href="/"><i class="fas fa-shopping-cart"></i></a></li>
					</ul>
				</li>
				<li class="menu-item"><a href="#portfo">portfolio</a></li>
				<li class="menu-item"><a href="#about">about</a></li>
				<li class="menu-item"><a href="/"><i class="fas fa-shopping-cart"></i></a></li>
			</ul>
		</li>
	</ul>


