<!DOCTYPE html>
<html>
<head>

	<title>Photography</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="css/menu.css">
	<link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:200,400,700&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/331d8a7658.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/form.css">
	<!-- link to the SqPaymentForm library -->
	<script type="text/javascript" src="https://js.squareup.com/v2/paymentform">
	</script>
	<!-- link to the local SqPaymentForm initialization -->
	<script type="text/javascript" src="js/paymentform.js">
	</script>
</head>
<body>
	<ul class="menu" role="navigation">
		<li class="header"><a href="/" class="header-title">Photography</a></li>
		<li class="menu-container">
			<ul >
				<li id="bars"><i class="fas fa-bars" id="ham"></i>
					<ul class="mobile-menu" id="mobile">
						<li class="mobile-item"><a href="/#portfo" id="port">portfolio</a></li>
						<li class="mobile-item"><a href="/#about" id="ab">about</a></li>
						<li class="mobile-item"><a href="/"><i class="fas fa-shopping-cart"></i></a></li>
					</ul>
					<div class="blank"> </div>
				</li>
			</ul>
		</li>
	</ul>
	<div id="form-container">
		<div id="form-header">
			<span>Payment Details</span>
		</div>
		<div id="sq-ccbox">
			<form id="nonce-form" novalidate action="process-payment" method="post">
				<fieldset>
					<div id="sq-card-number"></div>
					<div class="third">
						<div id="sq-expiration-date"></div>
					</div>
					<div class="third">
						<div id="sq-cvv"></div>
					</div>
					<div class="third">
						<div id="sq-postal-code"></div>
					</div>
				</fieldset>
				<button id="sq-creditcard" class="button-credit-card" onclick="onGetCardNonce(event)">Pay $1.00</button>
				<input type="hidden" id="card-nonce" name="nonce">
			</form>
		</div> <!-- end #sq-ccbox -->
	</div>
	<script type="text/javascript" src="js/menuV2.js"></script>
	<script type="text/javascript" src="js/menu.js"></script>
	<% include partials/footer %>