<!DOCTYPE html>
<html>
<head>

	<title>Photography</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="css/menu.css">
	<link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:200,400,700&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/331d8a7658.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/form.css">
	<!-- link to the SqPaymentForm library -->
	<script type="text/javascript" src="https://js.squareup.com/v2/paymentform">
	</script>
	<!-- link to the local SqPaymentForm initialization -->
	<script type="text/javascript" src="js/paymentform.js">
	</script>
	<link rel="stylesheet" type="text/css" href="css/cart.css">
</head>
<body>
	<ul class="menu" role="navigation">
		<li class="header"><a href="/" class="header-title">DAN REEDER</a></li>
		<li class="menu-container">
			<ul >
				<li id="bars"><i class="fas fa-bars" id="ham"></i>
					<ul class="mobile-menu" id="mobile">
						<li class="mobile-item"><a href="/#portfo" id="port">portfolio</a></li>
						<li class="mobile-item"><a href="/#about" id="ab">about</a></li>
						<li class="mobile-item"><a href="/"><i class="fas fa-shopping-cart"></i></a></li>
					</ul>
					<div class="blank"> </div>
				</li>
			</ul>
		</li>
	</ul>
	<div class="checkout-container">
		<div class="buy-arrow"><i class="fas fa-arrow-right"></i></div>
		<div class="cart">
			<h1>Cart</h1>
			<div id="items-header">
				<div id="header1">
					<span>Item</span> 
				</div>
				<div id="header2">
					<span>Price</span>
				</div>
			</div>
			<div class="items">
				<div class="item-img"><img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone/xs/iphone-xs-select-2019-family?wid=882&amp;hei=1058&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1550795428390"></div>
				<div class="item-middle">
					<div class="item-name"><span>iPhone Xs</span></div>
					<div class="item-desc"><span>The iPhone X's display is so immersive, the device itself disappears into the experience. And so intelligent it can respond to a tap, your voice, and even a glance. Say hello to the future.</span></div>
				</div>
				
				<div class="item-price"><span>$300</span></div>
			</div>
			<div class="items">
				<div class="item-img"><img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone/xs/iphone-xs-select-2019-family?wid=882&amp;hei=1058&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1550795428390"></div>
				<div class="item-middle">
					<div class="item-name"><span>iPhone Xs</span></div>
					<div class="item-desc"><span>The iPhone X's display is so immersive, the device itself disappears into the experience. And so intelligent it can respond to a tap, your voice, and even a glance. Say hello to the future.</span></div>
				</div>
				
				<div class="item-price"><span>$300</span></div>
			</div>
			<div class="items">
				<div class="item-img"><img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone/xs/iphone-xs-select-2019-family?wid=882&amp;hei=1058&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1550795428390"></div>
				<div class="item-middle">
					<div class="item-name"><span>iPhone Xs</span></div>
					<div class="item-desc"><span>The iPhone X's display is so immersive, the device itself disappears into the experience. And so intelligent it can respond to a tap, your voice, and even a glance. Say hello to the future.</span></div>
				</div>
				
				<div class="item-price"><span>$300</span></div>
			</div>
			<div class="items">
				<div class="item-img"><img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone/xs/iphone-xs-select-2019-family?wid=882&amp;hei=1058&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1550795428390"></div>
				<div class="item-middle">
					<div class="item-name"><span>iPhone Xs</span></div>
					<div class="item-desc"><span>The iPhone X's display is so immersive, the device itself disappears into the experience. And so intelligent it can respond to a tap, your voice, and even a glance. Say hello to the future.</span></div>
				</div>
				
				<div class="item-price"><span>$300</span></div>
			</div>
			<div class="items">
				<div class="item-img"><img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone/xs/iphone-xs-select-2019-family?wid=882&amp;hei=1058&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1550795428390"></div>
				<div class="item-middle">
					<div class="item-name"><span>iPhone Xs</span></div>
					<div class="item-desc"><span>The iPhone X's display is so immersive, the device itself disappears into the experience. And so intelligent it can respond to a tap, your voice, and even a glance. Say hello to the future.</span></div>
				</div>
				
				<div class="item-price"><span>$300</span></div>
			</div>
			<div class="items">
				<div class="item-img"><img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone/xs/iphone-xs-select-2019-family?wid=882&amp;hei=1058&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1550795428390"></div>
				<div class="item-middle">
					<div class="item-name"><span>iPhone Xs</span></div>
					<div class="item-desc"><span>The iPhone X's display is so immersive, the device itself disappears into the experience. And so intelligent it can respond to a tap, your voice, and even a glance. Say hello to the future.</span></div>
				</div>
				
				<div class="item-price"><span>$300</span></div>
			</div>
			<div class="items">
				<div class="item-img"><img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone/xs/iphone-xs-select-2019-family?wid=882&amp;hei=1058&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1550795428390"></div>
				<div class="item-middle">
					<div class="item-name"><span>iPhone Xs</span></div>
					<div class="item-desc"><span>The iPhone X's display is so immersive, the device itself disappears into the experience. And so intelligent it can respond to a tap, your voice, and even a glance. Say hello to the future.</span></div>
				</div>
				
				<div class="item-price"><span>$300</span></div>
			</div>
			<div class="items">
				<div class="item-img"><img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone/xs/iphone-xs-select-2019-family?wid=882&amp;hei=1058&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1550795428390"></div>
				<div class="item-middle">
					<div class="item-name"><span>iPhone Xs</span></div>
					<div class="item-desc"><span>The iPhone X's display is so immersive, the device itself disappears into the experience. And so intelligent it can respond to a tap, your voice, and even a glance. Say hello to the future.</span></div>
				</div>
				
				<div class="item-price"><span>$300</span></div>
			</div>
			<div class="items">
				<div class="item-img"><img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone/xs/iphone-xs-select-2019-family?wid=882&amp;hei=1058&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1550795428390"></div>
				<div class="item-middle">
					<div class="item-name"><span>iPhone Xs</span></div>
					<div class="item-desc"><span>The iPhone X's display is so immersive, the device itself disappears into the experience. And so intelligent it can respond to a tap, your voice, and even a glance. Say hello to the future.</span></div>
				</div>
				
				<div class="item-price"><span>$300</span></div>
			</div>
			<div class="items">
				<div class="item-img"><img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone/xs/iphone-xs-select-2019-family?wid=882&amp;hei=1058&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1550795428390"></div>
				<div class="item-middle">
					<div class="item-name"><span>iPhone Xs</span></div>
					<div class="item-desc"><span>The iPhone X's display is so immersive, the device itself disappears into the experience. And so intelligent it can respond to a tap, your voice, and even a glance. Say hello to the future.</span></div>
				</div>
				
				<div class="item-price"><span>$300</span></div>
			</div>
			<div class="items">
				<div class="item-img"><img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone/xs/iphone-xs-select-2019-family?wid=882&amp;hei=1058&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1550795428390"></div>
				<div class="item-middle">
					<div class="item-name"><span>iPhone Xs</span></div>
					<div class="item-desc"><span>The iPhone X's display is so immersive, the device itself disappears into the experience. And so intelligent it can respond to a tap, your voice, and even a glance. Say hello to the future.</span></div>
				</div>
				
				<div class="item-price"><span>$300</span></div>
			</div>
			<div class="items">
				<div class="item-img"><img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone/xs/iphone-xs-select-2019-family?wid=882&amp;hei=1058&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1550795428390"></div>
				<div class="item-middle">
					<div class="item-name"><span>iPhone Xs</span></div>
					<div class="item-desc"><span>The iPhone X's display is so immersive, the device itself disappears into the experience. And so intelligent it can respond to a tap, your voice, and even a glance. Say hello to the future.</span></div>
				</div>
				
				<div class="item-price"><span>$300</span></div>
			</div>
		</div>
		<div class="form-container">
			<div id="form-header">
				<span>Payment Details</span>
			</div>
			<div id="sq-ccbox">
				<form id="nonce-form" novalidate action="process-payment" method="post">
					<fieldset>
						<div id="sq-card-number"></div>
						<div class="third">
							<div id="sq-expiration-date"></div>
						</div>
						<div class="third">
							<div id="sq-cvv"></div>
						</div>
						<div class="third">
							<div id="sq-postal-code"></div>
						</div>
					</fieldset>
					<button id="sq-creditcard" class="button-credit-card" onclick="onGetCardNonce(event)">Pay $1.00</button>
					<input type="hidden" id="card-nonce" name="nonce">
				</form>
			</div> <!-- end #sq-ccbox -->
		</div>
	</div>
	<script type="text/javascript" src="js/checkout.js"></script>
	<script type="text/javascript" src="js/menuV2.js"></script>
	<script type="text/javascript" src="js/menu.js"></script>
	<% include partials/footer %>