<% include partials/header %>
<div class="container">
	<div class="content" id="landing">
		<div class="slider">
			<div class="img first"></div>
			<div class="img second"></div>
		</div>
		<div class="banner-content">
			<div class="banner-text">
				<h1>
					Photography
				</h1>
			</div>
			<div class="arrow-down">
				<span>Swipe Up</span>
				<i class="fas fa-chevron-down"></i>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="bio" id="about">
			<div class="bio-banner animated">
				<h2>Bio</h2>
			</div>
			<div class="left-side animated">
				<div class="bio-img"></div>
				<h4>John Clark</h4>
			</div>
			<div class="right-side animated">
				<p>
					Phasellus dignissim pulvinar accumsan. Suspendisse vitae enim felis. Suspendisse iaculis nibh arcu, nec euismod urna interdum et. Suspendisse egestas molestie augue, sit amet egestas augue. Proin a elit vitae eros tincidunt tristique id nec lorem. Duis malesuada mattis ex, in scelerisque arcu ornare nec. Morbi tristique gravida risus quis posuere. Proin pulvinar magna vitae pharetra porta. Proin at felis iaculis, euismod mi eget, suscipit leo. Pellentesque vitae nulla ac ipsum accumsan posuere. Aenean iaculis turpis vitae lectus maximus, in dictum augue blandit. Fusce cursus, erat sed vestibulum eleifend, neque lorem ultrices nisl, vel varius tellus lacus ac quam. Pellentesque lorem lorem, ornare et nibh non, maximus egestas erat. Nulla volutpat quam eu leo fringilla sollicitudin. Sed sit amet suscipit ante. Suspendisse nec velit odio.
				</p>				
			</div>
		</div>
	</div>
	<div class="content">
		<div class="container" id="portfolio-landing">
			<div class="banner-text">
				<h1>portfolio</h1>
			</div>
			<div class="arrow-down">
				<span>Swipe Up</span>
				<i class="fas fa-chevron-down"></i>
			</div>
		</div>
	</div>
	<div class="content" id="portfo">
		<div class="container" id="gallery">
			<div class="portfolio-title"><span>portfolio</span></div>
			<div class="card-container">
				<div class="card">
					<div class="card-header">
						<img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone/xs/iphone-xs-select-2019-family?wid=882&amp;hei=1058&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1550795428390">
						<div class="cover">
							<a href="/buy">Buy Now</a>
						</div>
						<div class="name"><span class="item-name">iPhone Xs</span></div>
						<div class="desc">
							<span>The iPhone X's display is so immersive, the device itself disappears into the experience. And so intelligent it can respond to a tap, your voice, and even a glance. Say hello to the future.
							</span>
						</div>
					</div>

				</div>
				<div class="card">
					<div class="card-header">
						<img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone/xs/iphone-xs-select-2019-family?wid=882&amp;hei=1058&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1550795428390">
						<div class="cover">
							<a href="/buy">Buy Now</a>
						</div>
						<div class="name"><span class="item-name">iPhone Xs</span></div>
						<div class="desc">
							<span>The iPhone X's display is so immersive, the device itself disappears into the experience. And so intelligent it can respond to a tap, your voice, and even a glance. Say hello to the future.
							</span>
						</div>
					</div>

				</div>
				<div class="card">
					<div class="card-header">
						<img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone/xs/iphone-xs-select-2019-family?wid=882&amp;hei=1058&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1550795428390">
						<div class="cover">
							<a href="/buy">Buy Now</a>
						</div>
						<div class="name"><span class="item-name">iPhone Xs</span></div>
						<div class="desc">
							<span>The iPhone X's display is so immersive, the device itself disappears into the experience. And so intelligent it can respond to a tap, your voice, and even a glance. Say hello to the future.
							</span>
						</div>
					</div>

				</div>
				<div class="card">
					<div class="card-header">
						<img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone/xs/iphone-xs-select-2019-family?wid=882&amp;hei=1058&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1550795428390">
						<div class="cover">
							<a href="/buy">Buy Now</a>
						</div>
						<div class="name"><span class="item-name">iPhone Xs</span></div>
						<div class="desc">
							<span>The iPhone X's display is so immersive, the device itself disappears into the experience. And so intelligent it can respond to a tap, your voice, and even a glance. Say hello to the future.
							</span>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/scrollify/1.0.19/jquery.scrollify.min.js"></script>
	<script type="text/javascript" src="js/menu.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<% include partials/footer %>


















