<% include partials/header %>
<div class="container">
	<div class="banner">
		<div class="banner-text">
			<h1>
				Photography
			</h1>
		</div>
		<div class="arrow-down">
			<span>Swipe Up</span>
			<i class="fas fa-chevron-down"></i>
		</div>
	</div>
	<div class="bio" id="about">
		<div class="bio-banner">
			<h2>Bio</h2>
		</div>
		<div class="left-side">
			<div class="bio-img"></div>
			<h4>John Clark</h4>
		</div>
		<div class="right-side">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mollis in metus at interdum. Integer scelerisque a orci ac auctor. Nam massa felis, malesuada et consectetur sed, congue eget sapien. Nulla eu ex molestie enim dictum fringilla. Praesent at dui dignissim, ullamcorper elit in, pulvinar neque. Phasellus eu turpis elementum, faucibus lacus ac, egestas libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu quam orci. Nam et scelerisque velit, sed sodales lectus.
			</p>

			<p>
				Phasellus dignissim pulvinar accumsan. Suspendisse vitae enim felis. Suspendisse iaculis nibh arcu, nec euismod urna interdum et. Suspendisse egestas molestie augue, sit amet egestas augue. Proin a elit vitae eros tincidunt tristique id nec lorem. Duis malesuada mattis ex, in scelerisque arcu ornare nec. Morbi tristique gravida risus quis posuere. Proin pulvinar magna vitae pharetra porta. Proin at felis iaculis, euismod mi eget, suscipit leo. Pellentesque vitae nulla ac ipsum accumsan posuere. Aenean iaculis turpis vitae lectus maximus, in dictum augue blandit. Fusce cursus, erat sed vestibulum eleifend, neque lorem ultrices nisl, vel varius tellus lacus ac quam. Pellentesque lorem lorem, ornare et nibh non, maximus egestas erat. Nulla volutpat quam eu leo fringilla sollicitudin. Sed sit amet suscipit ante. Suspendisse nec velit odio.
			</p>
		</div>
	</div>
	<div class="banner2">
		<div class="banner-text">
			<h1>portfolio</h1>
		</div>
		<div class="arrow-down">
			<span>Swipe Up</span>
			<i class="fas fa-chevron-down"></i>
		</div>
	</div>
	<div class="portfolio">
		<div class="img-container">
			<img src="https://images.unsplash.com/photo-1558860360-02e231e9d947?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
		</div>
		<div class="img-container">
			<img src="https://images.unsplash.com/photo-1559157693-d42bc4841fc8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
		</div>
		<div class="img-container">
			<img src="https://images.unsplash.com/photo-1556543406-10b75bfe9c1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
		</div>
		<div class="img-container">
			<img src="https://images.unsplash.com/photo-1560268765-84c5eb82fe8a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
		</div>
		<div class="img-container">
			<img src="https://images.unsplash.com/photo-1560513793-b11e105dae76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
		</div>
		<div class="img-container">
			<img src="https://images.unsplash.com/photo-1558860360-02e231e9d947?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
		</div>
		<div class="img-container">
			<img src="https://images.unsplash.com/photo-1559157693-d42bc4841fc8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
		</div>
		<div class="img-container">
			<img src="https://images.unsplash.com/photo-1556543406-10b75bfe9c1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
		</div>
		<div class="img-container">
			<img src="https://images.unsplash.com/photo-1560268765-84c5eb82fe8a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
		</div>
		<div class="img-container">
			<img src="https://images.unsplash.com/photo-1560513793-b11e105dae76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
		</div>
		<div class="img-container">
			<img src="https://images.unsplash.com/photo-1558860360-02e231e9d947?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
		</div>
		<div class="img-container">
			<img src="https://images.unsplash.com/photo-1559157693-d42bc4841fc8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
		</div>
		<div class="img-container">
			<img src="https://images.unsplash.com/photo-1556543406-10b75bfe9c1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
		</div>
		<div class="img-container">
			<img src="https://images.unsplash.com/photo-1560268765-84c5eb82fe8a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
		</div>
		<div class="img-container">
			<img src="https://images.unsplash.com/photo-1560513793-b11e105dae76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
		</div>

	</div>
</div>
<% include partials/footer %>