<% include partials/header %>

<div class="new-container">
		<h2>New Photo Form</h2>
		<form action="/new" method="POST" class="new-form" required>
			<input type="text" name="title" placeholder="Image title" required>
			<input type="text" name="id" placeholder="ID" required>
			<input type="text" name="description" placeholder="Description" required>
			<input type="text" name="image" placeholder="Image URL" required>
			<button> <div> Submit <i class="fas fa-arrow-right"></i></div> </button>
		</form>
</div>
<script type="text/javascript" src="js/menu.js"></script>
<% include partials/footer %>