html{
	/*scroll-behavior: smooth;*/
}
body{
	margin: 0;
	font-family: 'Saira Semi Condensed', sans-serif;
}
.container{
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}
.slider-container{
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.slider{
	width: 100%;
	height: 100%;
	display: flex;
}
.slider .img{
	/*flex: 0 0 100%;*/
	background-image: url(https://images.unsplash.com/photo-1558935365-f6cb860f3a47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1513&q=80);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.first{
	transition: transform 1s;
}
.slider-container .slider .second{
	background-image: url(https://images.unsplash.com/photo-1560547168-3a6b03b1d436?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
}
.second{
	transition: transform 1s;
}
.banner-content{
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
}
.banner2{
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100vh;
	background-image: url(https://images.unsplash.com/photo-1560307002-306085d5ca4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

.banner-text{
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90%;
	background: rgba(0,0,0,0.5);
}
.arrow-down{
	display: flex;
	flex-direction: column;

	color: white;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 10%;
	background: rgba(0,0,0,0.5);
}
.first{
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-name: rightToLeft;
	animation-timing-function: ease;
	-webkit-animation-duration: 20s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: rightToLeft;
	-webkit-animation-timing-function: ease;
}
.second{
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-name: leftToRight;
	animation-timing-function: ease;
	-webkit-animation-duration: 20s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: leftToRight;
	-webkit-animation-timing-function: ease;
}
@-webkit-keyframes rightToLeft{
	0% { -webkit-flex: 0 0 100% }
	20% { -webkit-flex: 0 0 0 }
	50% { -webkit-flex: 0 0 0 }
	70% { -webkit-flex: 0 0 100% }
	100% { -webkit-flex: 0 0 100% }
}
@-webkit-keyframes leftToRight{
	0% { -webkit-flex: 0 0 0 }
	20% { -webkit-flex: 0 0 100% }
	50% { -webkit-flex: 0 0 100% }
	70% { -webkit-flex: 0 0 0 }
	100% { -webkit-flex: 0 0 0 }
}
.arrow-down span, .arrow-down i {
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-name: bounce;
	animation-timing-function: ease
}
@-webkit-keyframes bounce {
	0%   { transform: translateY(0); }
	30%  { transform: translateY(-10px); }
	50%  { transform: translateY(0); }
	100% { transform: translateY(0); }
}
.banner-text h1{
	font-size: 4em;
	font-weight: 400;
}
.bio-container{
	width: 100%;
	height: 100vh;
	display: flex;
	/*background: #fff;*/
}
.bio{
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	background: #fff;
	width: 75%;
	margin: 0 auto;
	height: 100%;
}
.bio-banner{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 20%;
	font-size: 3em;
}
.bio-banner h2{
	font-weight: 200;
}
.bio-img{
	height: 25%;
	width: 75%;
	background-image: url(https://images.unsplash.com/photo-1553998285-d99637ace719?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.left-side{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
	height: 80%;
	padding-top: 5%;
}
.right-side{
	box-sizing: border-box;
	width: 70%;
	height: 80%;
	padding: 30px;
}
.portfolio{
	display: flex;
	width: 100%;
	height: 100vh;
	padding: 20px;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-evenly;
	overflow: hidden;
	background: #fff;
}
.img-container{
	height: 30%;
	padding: 1%;
}
.portfolio img{
	height: 100%;
}
@media screen and (max-width: 600px){
	.slider-container{
		height: 100%;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}
	.banner-content{
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;

	}
	.banner-text h1{
		font-size: 3em;
		font-weight: 400;
	}
	.banner-text{
		height: 80%;
	}
	.arrow-down{
		height: 20%;
	}
	.arrow-down span, .arrow-down i {
		font-size: 1.5em;
	}
	.bio-container{
		overflow: hidden;
		width: 100%;
		height: 100vh;
		display: flex;
	}
	.bio{
		display: flex;
		flex-direction: column;
	}
	.bio-banner{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 15%;
		font-size: 2em;
		padding-top: 10px;
	}
	.left-side{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 30%;
	}
	.bio-img{
		width: 70%;
		height: 90%;
	}
	.left-side h4{
		height: 10%;
	}
	.right-side{
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 55%;
		font-size: 0.8em;
		padding: 10px;
	}
}




















