.menu{
	box-sizing: border-box;
	padding: 5px 15px;
	display: flex;
	align-items: center;
	position: fixed;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	height: 55px;
	justify-content: flex-end;
	background-color: rgba(255,255,255,1);
	transition: background-color 0.4s;
}
ul{
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
.menu-container{
	box-sizing: border-box;
	width: 70%;
	padding-right: 10%;
}
#bars{
	color: #000;
	cursor: pointer;
}
#ham{
	display: none;
}
.mobile-item{
	opacity: 1;
}
#bars i{
	font-size: 1.2em;
}
.menu-container ul{
	display: flex;
	justify-content: flex-end;
}
.menu-container ul li{
	padding: 0 10px;
}
.menu li a{
	color: #000;
}
.header{
	display: flex;
	justify-content: flex-end;
	width: 30%;
	font-size: 1.5em;
	overflow: hidden;
	height: 80%;
	transition: height 1.5s;
}
.header-title{
	letter-spacing: 3px
}
@media screen and (min-width: 600px){
	.mobile-item{
		opacity: 1;
	}
}
@media screen and (max-width: 600px){
	#ham{
		display: inline-block;
	}
	.mobile-menu{
		position: absolute;
		top: 55px;
		left: 0;
		width: 100%;
		flex-direction: column;
		background: #fff;
		overflow: hidden;
		height: 0;
		transition: height 0.3s, background-color 0.4s;
	}
	.blank{
		position: absolute;
		height: 100vh;
		left: 0;
		top: 0; 
		margin-top: 55px;
		width: 100%;
		background: rgba(0,0,0,0.5);
		display: none;
		z-index: -10;


	}
	.mobile-item{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 7vh;
		opacity: 0;
		transition: opacity 0.3s;
	}
	.header{
		font-size: 1.2em;
		align-items: center;
		width: 40%;
	}
	.menu-container{
		width: 60%;
		padding-right: 3%;
	}
}
















