.menu{
	box-sizing: border-box;
	padding: 5px 15px;
	display: flex;
	align-items: center;
	position: fixed;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	height: 55px;
	justify-content: flex-end;
	background-color: rgba(0,0,0,0.8);
	transition: background-color 1s;

}
ul{
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
.menu-container{
	box-sizing: border-box;
	width: 70%;
	padding-right: 10%;
}
#bars{
	color: #fff;
	display: none;
	cursor: pointer;
}
#bars i{
	font-size: 1.2em;
	transition: font-size 1s;
}
.menu-container ul{
	display: flex;
	width: 100%;
	justify-content: flex-end;
}
.menu-container ul li{
	padding: 0 10px;
}
.menu-item{
	padding: 0 5px;
	color: #fff;
}
.menu-item a{
	transition: all .5s;
}
.menu-item a:hover{
	color: #00f6f6;
}

.menu li a{
	color: #fff;
}
.header{
	display: flex;
	justify-content: flex-end;
	width: 30%;
	font-size: 1.5em;
	padding-right: 10px;
	overflow: hidden;
	border-right: 1px solid white;
	height: 0;
	transition: height 1.5s;
}
.header-title{
	transform: translateX(150%);
	transition: transform 1s ease, color 0.5s;
	transition-delay: 1s;
}
.header-title:hover{
	color: #00f6f6;
}
@media screen and (max-width: 600px){
	.menu-item{
		display: none;
	}
	#bars{
		display: block;
	}
	.mobile-menu{
		position: absolute;
		top: 55px;
		left: 0;
		height: 15vh;
		flex-direction: column;
		background: #000;
		overflow: hidden;
		height: 0;
		transition: height 1s;
	}
	.mobile-item{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 5vh;
	}
	.header{
		font-size: 1.3em;
		align-items: center;
	}
	.menu-container{
		padding-right: 3%;
	}
}
















